@font-face {
    font-family: 'hindbold';
    src: url('fonts/hind-bold-webfont.woff2') format('woff2'), url('fonts/hind-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindlight';
    src: url('fonts/hind-light-webfont.woff2') format('woff2'), url('fonts/hind-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindmedium';
    src: url('fonts/hind-medium-webfont.woff2') format('woff2'), url('fonts/hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindregular';
    src: url('fonts/hind-regular-webfont.woff2') format('woff2'), url('fonts/hind-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hindsemibold';
    src: url('fonts/hind-semibold-webfont.woff2') format('woff2'), url('fonts/hind-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldbold';
    src: url('fonts/oswald-bold-webfont.woff2') format('woff2'), url('fonts/oswald-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldextralight';
    src: url('fonts/oswald-extralight-webfont.woff2') format('woff2'), url('fonts/oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald-light-webfont.woff2') format('woff2'), url('fonts/oswald-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldmedium';
    src: url('fonts/oswald-medium-webfont.woff2') format('woff2'), url('fonts/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldregular';
    src: url('fonts/oswald-regular-webfont.woff2') format('woff2'), url('fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldsemibold';
    src: url('fonts/oswald-semibold-webfont.woff2') format('woff2'), url('fonts/oswald-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background:#343a40;

}

#page {
    display:flex;
    background: #F5F5DC;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    height: 80vh;
}


#content {
    margin-top: 60px;
}

#cardPile {
 margin: 0 auto; float:left; display:none;
 width:100%; border-right:1px solid #000; padding-right:2%;
 background-color: #fff6ea;
 transition: left linear .2s;
}
#cardPile.open {
 left: 0px;
 transition: left linear .2s;
}
 #cardPile {
box-sizing:border-box;
 margin-top:30px;
}

/* Individual cards and slots */

#cardPile div {
 float: left;
 width: 128px;
margin:5px 12px;
height: 50px;
line-height: 50px;
padding: 0 5px;
text-align: center;
}

#cardPile div, #uploadImage {
   cursor: -webkit-grab; cursor: grab;
}

.clasin0 { font-family:'Merriweather'; font-size:16px; color:#000; }
.clasin1 { font-family:'Ranchers'; font-size:16px; color:#556; }
.clasin2 { font-family:'Playfair Display'; font-size:20px; color:#00f; }
.clasin3 { font-family:'Rowdies'; font-size:18px; color:#ff0; }
.clasin4 { font-family:'Red Rose'; font-size:14px; color:#f00; }
.clasin5 { font-family:'Permanent Marker'; font-size:20px; color:#091426; }
.clasin6 { font-family:'Dancing Script'; font-size:17px; color:#878; }
.clasin7 { font-family:'Indie Flower'; font-size:18px; color:#00FFFF; }
.clasin8 { font-family:'Shadows Into Light'; font-size:16px; color:#0000FF; }
.clasin9 { font-family:'Amatic SC'; font-size:18px; color:#f00; }
.clasin10 { font-family:'Caveat'; font-size:20px; color:#00FFFF; }
.clasin11 { font-family:'Merriweather'; font-size:14px; }

@media print {
 body * {
   visibility: hidden;
 }
 #cardSlots, #cardSlots * {
   visibility: visible;
 }
 #cardSlots {
   visibility: hidden; width:0;
 }
 /*#cardPile { position: absolute;
   left: 0; width:480px;
   top: 0; border:none; } */
 #cardSlots div { border: none; }
 .ui-draggable { visibility: visible; }
}

@media only screen and (max-width: 960px) {
   #cardPile:after { clear:both; display:block; content:''; }
   .wrap { width:98%; margin:0 auto; }
   #cardPile { border-right:0px; }
   #cardSlots, #cardPile { float:none; width:100%; margin-left:0px; margin-right:0px; }
   #cardSlots { height:50vh; } 
   .header_bg { background-size: 100% auto; }
}
@media (max-width: 768px) 
{
    #page
    {
        height:80% i !important;
    }
}

.clasin0 {background: url(bg-game/bg0.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin1 {background: url(bg-game/bg1.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin2 {background: url(bg-game/bg2.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin3 {background: url(bg-game/bg3.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin4 {background: url(bg-game/bg4.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin5 {background: url(bg-game/bg5.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin6 {background: url(bg-game/bg6.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin7 {background: url(bg-game/bg7.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin8 {background: url(bg-game/bg8.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin9 {background: url(bg-game/bg9.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin10 {background: url(bg-game/bg10.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
.clasin11 {background: url(bg-game/bg10.png) no-repeat center / cover !important; display: inline-block; float: left !important;}
           
 #cardPile div {width: auto !important;}

 #cardPile {
   min-height: 600px;
}

.col-md-3
{
    width:25%;
}
.col-md-6
{
    width:50%;
}

.myButton {
    box-shadow: 3px 10px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: white !important;
    font-family: Arial;
    font-size: 21px;
    text-align: center;
    width: 200px;
    margin-top: 10%;
    padding: 10px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

a:hover {
    color: #00cc95 !important;
    text-decoration: none;
}

#ten-countdown {
    display: inline;
    padding: 5px;
    color: darkorange;
    font-family: Rubik;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
h3 {
    font-weight: 200 !important;
    line-height: 50px  !important;
    font-size: 30px  !important;
    margin:0px;
}
.text-success {
    
    color: #198754!important;
}

.text-danger {
    color: #dc3545!important;
}

#userActions{
	display: table-cell;
	height: 150px !important;
	width: 200px ;
	vertical-align: middle;
	text-align: center;
	color: #37474F;
	background-color: #FFFFFF;
	border: solid 2px #333333;
	border-radius: 10px;
    z-index: 10;
}
#userActions input{
	width: 150px;
	margin: auto;
    z-index: 10;
}
#imgPrime{ display: none; }

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}
    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
    }
      label:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: mediumseagreen;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      label:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    

    input:checked ~ label {
      color: #fff;
    }
    input:checked ~ label:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

    input:checked ~ label:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    

    #id_english, #id_deutsche, #id_option1, #id_option2 {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  


.form {
  padding: 0 16px;
  max-width: 550px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


