#start_form_panel
{
    display: flex;
    background-position: bottom;
     background-image: url("../../../assets/images/image3.jpg");
   
}
#start_form
{
    width:60%;
    margin:auto;
    padding: 35px 60px;
    border-radius: 5px;
    background-image: linear-gradient(#121212 37%, #0077ffe0);
}
.btn-start
{
    background-color: #0077ffe0;
    color: aliceblue;
    width: 300px;
    height: 40px;
    float: right;
    border-radius: 10px;
}

.ic_setting
{
    float:right;
    margin:-20px;
    margin-right:-40px;
}

.header4 
{
    background-color: darkgray;
}

#settingModal
{
    height: 600px;
}

